/BankTransmissionProtocol/nbproject/private/
/BankTransmissionProtocol/build/
/BankServer/nbproject/
/BankServer/nbproject/private/
/BankClient/nbproject/private/
/BankServer/build/
/BankClient/build/
/BankClient/dist/
/BankServer/dist/

version.properties

*.class
*.properties
*.~vsd
*.db
*.html
*.css